<div class="container" style="padding: 50px;">


<div class="container" style="padding: 50px;">
<form class="add-blog">
    <div class="mb-3">
        <label for="blog-title" class="form-label">Title</label>
        <input type="text" id="title" class="form-control" name="blog-title" />
    </div>
    <div class="mb-3">
        <label for="blog-content" class="form-label">Content</label>
        <textarea name="blog-content" id ="content" class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="add-blog-btn btn btn-primary">Post</button>
</form>
</div>

{{#each blogs as |blog|}}

<div class="card">
    <div class="card-title">
        <h2><a href="/blog/{{blog.id}}"></a>{{blog.title}}</a></h2>
        <p>Posted by: {{user.username}}</p>
    </div>
    <div class="card-content">
        <p>{{blog.content}}</p>
    </div>
    <p class="hidden" id="blog-id">{{blog.id}}</p>
</div>

{{/each}}

<script src="/js/add-blog.js"></script>