<div class="container" style="padding: 50px;">
<h2>Welcome to the Tech Blog, {{user.username}}!</h2>
{{#each blog as |blog|}}
<a href="/blogs/{{blog.id}}">
<div class="card">
    <h3>{{blog.title}}</h3>
    <p>{{blog.content}}</p>
    <p>Posted by {{blog.user_id}}</p>
</div>
</a>
{{/each}}
</div>